body{

font-family: Arial, Helvetica, sans-serif;
background:#1551c9;
margin:0;
padding:20px;

}

h1{

text-align:center;
margin-bottom:30px;

}

.form-container{

text-align:center;
margin-bottom:30px;

}

form input,
form select{

padding:8px;
margin:5px;

}

button{

padding:8px 15px;
cursor:pointer;

}

.board{

display:flex;
gap:20px;
justify-content:center;

}

.column{

background:#ebecf0;
padding:15px;
border-radius:8px;
width:300px;
min-height:400px;

}

.column h2{

text-align:center;

}

.card{

background:#164ab170;
padding:10px;
border-radius:6px;
margin-bottom:10px;
box-shadow:0 2px 4px rgba(0,0,0,0.2);

}

.card h3{

margin:0;

}

.fecha{

font-size:12px;
color:gray;

}

.actions{

margin-top:10px;
display:flex;
justify-content:space-between;

}

.actions a{

text-decoration:none;
font-size:12px;
color:#0052cc;

}